<!--The content below is only a placeholder and can be replaced.-->

<header>
  <h1>All about Angular 4</h1>
  <h4> {{"Title :" +  jobtitle}}</h4>
  <h4> {{"Contact :" +  getContact()}}</h4>
</header>

<section>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a routerLink="/forms">Forms Driven</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
    </div>
  </nav>
</section>

<section>
  <router-outlet></router-outlet>
</section>

<section>
<div class="col-md-6 col-md-offset-3">
  <h1>Home</h1>
  <p>{{bodyText}}</p>
  <button (click)="openModal('custom-modal-1')">Open Modal 1</button>
  <button (click)="openModal('custom-modal-2')">Open Modal 2</button>
</div>

<modal id="custom-modal-1">
  <div class="modal">
      <div class="modal-body">
          <h1>A Custom Modal!</h1>
          <p>
              Home page text: <input type="text" [(ngModel)]="bodyText" />
          </p>
          <button (click)="closeModal('custom-modal-1');">Close</button>
      </div>
  </div>
  <div class="modal-background"></div>
</modal>

<modal id="custom-modal-2">
  <div class="modal">
      <div class="modal-body">
          <h1 style="height:1000px">A Tall Custom Modal!</h1>
          <button (click)="closeModal('custom-modal-2');">Close</button>
      </div>
  </div>
  <div class="modal-background"></div>
</modal>

</section>




<section>
  <button (click)="showDialog = !showDialog" class="btn">Open</button>
  
  <app-dialog [(visible)]="showDialog">
    <h1>Hello World</h1>
    <button (click)="showDialog = !showDialog" class="btn">Close</button>
  </app-dialog>
</section>


<section>
  <h2>forms</h2>

  <form action="" #f="ngForm">
      <div>
        <input name="title" type="text" [(ngModel)] = "model.title">
      </div>
      <div>
        <input name="position" type="text" [(ngModel)] = "model.position">
      </div>
      <div>
        <input type="checkbox" name="isfulltime" [(ngModel)] = "model.isfulltime"> Is FullTime
      </div>
      <div>
        <select name="departments" id="dept" [(ngModel)] = "model.department">
            <option  *ngFor="let x of departments">{{x.Name}}</option>
        </select>
      </div>
      <div>
        <button type="submit" (click) = "Submitvalues()"> Send Data</button>
      </div>

  </form>

  {{model |json}}
  <ul>
    <li>{{"Title:" + model.title }}</li>
    <li>{{"Position:" + model.position}}</li>
    <li>{{"isfulltime:" + model.isfulltime}}</li>
    isfulltime
  </ul>
</section>



<section>
    <h3>Angular 5 is here already! what shell we do ?</h3>
    <ul>
      <li>{{job?.title}}1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
    </ul>
</section>

<section>
  <h3>Property Binding</h3>
  <br>
  <button class="btn btn-primary btn-sm" disabled>Disabled</button>
  <button class="btn btn-primary btn-sm" [disabled]  = "false"> Disabled 2</button>
  <button class="btn btn-primary btn-sm" [disabled]  = "isDisabled"> Disabled 3</button>
  <button class="btn btn-primary btn-sm" bind-disabled  = "isDisabled"> Disabled 4</button>
</section>

<section>
    <h3>Event Handling</h3>
    <div>
      <button class="btn btn-warning btn-sm" id="mybtn1" (click) = "onCLickmybtn()">Click to see </button>
      <p>{{"Position:-" + possition}}</p>
    </div>
    
    <div>
      <button class="btn btn-warning btn-sm" id="mybtn2" (click) = "onCLickmybtn2($event)">Click to pass events </button>
      <p>{{"Address " + Address }}</p>
    </div>

    <div>
      <button class="btn btn-danger btn-sm" id="mybtn3" on-click="Area = $event.target.textContent" >Colombo </button>
      <button class="btn btn-danger btn-sm" id="mybtn3" on-click="Area = $event.target.textContent" >Negombo </button>
      <button class="btn btn-danger btn-sm" id="mybtn3" on-click="Area = $event.target.textContent" >Kandy </button>
      <p>{{"Current City " + Area }}</p>
    </div>
</section>

<section>
  <h3 [class]="specialh3">Classes , Attributes , Styles</h3>

  <div>
    <p>We tag this part as the most <span [class]="spcecialcase">important </span>  part of the doc.
      it is using angular class binding 
      And others are not that important. so we mark them with non decorated</p>
  </div>

  <div [ngClass] = "alertstyles">
      <p>This area is styled using multiple style embeded!</p>
  </div>

  <div [ngClass] = "singleLine">
    <p>This area is styled using multiple style embeded!</p>
  </div>

  <div [class.alertstyles]="ischange">
    <p >This area is styled using multiple style embeded!</p>
    <button (click) = "buttonCLickColorCHange(1)">Make this red</button>
    <button (click) = "buttonCLickColorCHange(2)">Remove red</button>
  </div>

</section>

<footer>
  Copyright @ xxx Corparations
</footer>

