.special-h3{
    color: #E65100;
    border-bottom: 1px solid #5D4037; 
}

.spcecial-case{
    background-color: #0D47A1;
    color: #FAFAFA;
    border: 1px solid #64B5F6;
    font-weight: bold;
    padding: 1px 5px;
}